@model ShopDomain.Model.ProductCatergory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductCatergory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PctProductId" class="control-label"></label>
                <select asp-for="PctProductId" class ="form-control" asp-items="ViewBag.PctProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PctCategoryId" class="control-label"></label>
                <select asp-for="PctCategoryId" class ="form-control" asp-items="ViewBag.PctCategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

