@model IEnumerable<ShopDomain.Model.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">





<h2>Категорії книжок</h2>
<a asp-action="Create">Додати нову категорію</a>

<table>
    <tr>
        <th>Назва</th>
        <th>Дії</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CgName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@category.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@category.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@category.Id">Видалити</a>
            </td>
        </tr>
    }
</table>