@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ShopInfrastructure.Controllers.OrdersController.OrderViewModel

<h2>Замовлення #@Model.Id</h2>
<p>Загальна сума: @Model.OdTotal грн</p>
<h3>Продукти:</h3>
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <strong>@product.Name</strong> - @product.Price грн  
            <br />
            <em>@product.Description</em>
        </li>
    }
</ul>

<a asp-controller="Orders" asp-action="Index">Повернутися до списку замовлень</a>